
USPFinder/USP_Spreadsheet_v1_unsent.xlsx
USPFinder/USP_Spreadsheet_v1_unsent.csv
USPFinder/Spreadsheets/BLSS/BLSS_Combined.xlsx
USPFinder/Spreadsheets/ADM/ADM_Combined.xlsx
USPFinder/site.txt
USPFinder/output1.csv
USPFinder/output.csv
USPFinder/links.txt
output.csv
*.csv
USPFinder/Spreadsheets/Output 14 09 22.xlsx
*.xlsx
*averageTime.txt
USPFinder/root.txt
USPFinder/linksAll.txt
USPFinder/root.txt
links.txt
ListComparer/dontMatches.txt
ListComparer/ListA.txt
ListComparer/ListB.txt
ListComparer/matches.txt
SimilarCourses/averageTime.txt
SimilarCourses/replacables.txt
SimilarCourses/site.txt
USPFinder/B ADM PG.txt
USPFinder/B ADM UG.txt
USPFinder/B BLSS PG.txt
USPFinder/B BLSS UG.txt
USPFinder/B CEBE PG.txt
USPFinder/B CEBE UG.txt
USPFinder/B HELS CPD.txt
USPFinder/B HELS PG.txt
USPFinder/B HELS UG.txt
USPFinder/B Updated URLs raw.txt
USPFinder/B Updated URLs.txt
USPFinder/pandasComparer.py
USPFinder/Spreadsheets/Export/855E8000
USPFinder/Spreadsheets/Export/C Export 2/Individual USPs Jan 2023.zip
USPFinder/Spreadsheets/Export/C Export 2/USP Project Main v36 Carrie Export 2 Sent Zip.zip
USPFinder/Spreadsheets/Export/C Export 3/USP Project BP Version.zip
Ignored/webScrapeUI.py
Ignored/*
Tinifier/AutoCompressed/*
Tinifier/Raw/*
*.jpg
*.png
*.jpeg
*.jfif
test/
*.avif
*.js
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager.htm
SimilarCourses/HTMLGenerator/mediaIDs.txt
Tinifier/tinyKeys.txt
SimilarCourses/HTMLGenerator/mediaIDsOld.txt
MassLinkOpener/massURLs.txt
SimilarCourses/HTMLGenerator/averageTime.txt
