
USPFinder/USP_Spreadsheet_v1_unsent.xlsx
USPFinder/USP_Spreadsheet_v1_unsent.csv
USPFinder/Spreadsheets/BLSS/BLSS_Combined.xlsx
USPFinder/Spreadsheets/ADM/ADM_Combined.xlsx
USPFinder/site.txt
USPFinder/output1.csv
USPFinder/output.csv
USPFinder/links.txt
output.csv
*.csv
USPFinder/Spreadsheets/Output 14 09 22.xlsx
*.xlsx
USPFinder/averageTime.txt
USPFinder/averageTime.txt
USPFinder/averageTime.txt
USPFinder/root.txt
USPFinder/averageTime.txt
USPFinder/linksAll.txt
USPFinder/root.txt
USPFinder/averageTime.txt
links.txt
ListComparer/dontMatches.txt
ListComparer/ListA.txt
ListComparer/ListB.txt
ListComparer/matches.txt
SimilarCourses/averageTime.txt
SimilarCourses/replacables.txt
SimilarCourses/site.txt
USPFinder/averageTime.txt
USPFinder/B ADM PG.txt
USPFinder/B ADM UG.txt
USPFinder/B BLSS PG.txt
USPFinder/B BLSS UG.txt
USPFinder/B CEBE PG.txt
USPFinder/B CEBE UG.txt
USPFinder/B HELS CPD.txt
USPFinder/B HELS PG.txt
USPFinder/B HELS UG.txt
USPFinder/B Updated URLs raw.txt
USPFinder/B Updated URLs.txt
USPFinder/pandasComparer.py
USPFinder/Spreadsheets/Export/855E8000
USPFinder/Spreadsheets/Export/C Export 2/Individual USPs Jan 2023.zip
USPFinder/Spreadsheets/Export/C Export 2/USP Project Main v36 Carrie Export 2 Sent Zip.zip
USPFinder/Spreadsheets/Export/C Export 3/USP Project BP Version.zip
USPFinder/averageTime.txt
Ignored/*
*.xlsm
SimilarCourses/HTMLGenerator/averageTime.txt
*.jpg
SimilarCourses/HTMLGenerator/mediaIds.htm
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/visual-effects-play-132924385012553647.avif
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/visual-effects-copy-132453533277329827.avif
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/vfx.avif
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/script.htm
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/sci-fi-visual-effects-news-story-resized-130541445519983679.avif
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/Render_data/jquery.1.11.2.min.js
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/Render_data/handlebars.min.js
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/Render.htm
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/nuke-news-vfx-132811033329121167.avif
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/nuke-1-132811902065744288.avif
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/media-manager.js
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/media-imagebrowser.js
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/lianne-forbes-oscar-132585539067125195.avif
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/greenscreenbcuonline-lecture-132569983621544438.avif
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/global-nav-4.min.css
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/ga.js
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/filmtechnologyandvisualeffects-131201517588866131.avif
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/film-technology-and-visual-effects-131871956434897300.avif
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/film-tech-and-visual-effects-131656872100028882.avif
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/editcss.css
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/dialog.js
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/dashboardjs
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/css.css
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/corejs
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/corecss.css
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/cmscss.css
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/cms-icons.css
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/cdl.plugins.min.js
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/cdl.min.css
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/beatriz-jordao-placement-132556210775990411.avif
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/analytics_002.js
SimilarCourses/HTMLGenerator/CMS Dashboard Media Manager_files/analytics.js
